@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFkpl0k30e0.ttf) format('truetype');
}
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--grey-light);
}
body a {
  text-decoration: none;
  color: var(--link-color);
}
body a:hover,
body a:active {
  color: var(--link-color-hover);
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: 700;
}
body h1 {
  font-size: 2em;
  margin-bottom: 15px;
}
body h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
body h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
body h4 {
  font-size: 1.35em;
  margin-bottom: 10px;
}
body h5 {
  font-size: 1.25em;
  margin-bottom: 10px;
}
body strong {
  font-weight: 600;
}
body ol,
body ul {
  list-style: none;
}
body blockquote,
body q {
  quotes: none;
}
body blockquote:before,
body blockquote:after,
body q:before,
body q:after {
  content: '';
  content: none;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body p {
  line-height: 1.5;
  margin: 0 0 12px 0;
}
body button,
body input,
body textarea,
body select {
  font-family: var(--font-family), sans-serif;
}
/* COMPONENTS */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  max-width: 1200px;
  margin: 0 25px;
  flex-direction: row;
  justify-content: space-between;
}
.content-panel {
  background-color: #fff;
  padding: 20px;
  min-width: 300px;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
}
.content-panel img {
  width: 100%;
}
.content-panel h2,
.content-panel h3,
.content-panel h4,
.content-panel h5 {
  margin: 10px 0 15px 0;
}
.content-panel p {
  line-height: 1.8em;
}
.content-panel.no-padding {
  padding: 0;
}
.content-panel.p-margin {
  margin: 0;
}
.content-panel .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 20px 20px 17px 20px;
  border-bottom: 1px solid var(--border-color);
}
.content-panel .panel-title h3 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.content-panel .panel-title h3 i {
  margin: 2px 0 0 7px;
  color: var(--primary);
}
.content-panel .panel-title a {
  font-weight: 700;
  padding-top: 3px;
  text-align: right;
}
/* SECTIONS */
.section-header {
  background-size: cover;
  padding-bottom: 100px;
}
.section-header .brand-nav {
  display: flex;
  align-items: center;
  padding: 30px 0 60px 0;
}
.section-header .brand-nav .logo {
  margin-right: 50px;
}
.section-header .brand-nav .logo img {
  min-width: 200px;
}
.section-header .brand-nav .global-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section-header .brand-nav .global-nav ul li {
  display: inline-block;
  margin-right: 25px;
}
.section-header .brand-nav .global-nav ul li a {
  color: #fff;
  font-weight: 500;
}
.section-header .brand-nav .global-nav .btn {
  margin-left: auto;
}
.section-header .registration-cta {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}
.section-header .registration-cta .content {
  color: #fff;
  text-align: center;
  min-width: 20%;
}
.section-header .registration-cta .content h1 {
  color: var(--secondary);
  font-size: 5em;
}
.section-header .registration-cta .content h1 span {
  color: #fff;
  display: block;
  font-size: 1.5em;
}
.section-header .registration-cta .content h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
}
.section-header .registration-cta .content .details {
  margin-bottom: 40px;
  font-size: 1.5em;
}
.section-header .registration-cta .content .details p {
  margin: 0 0 3px 0;
}
.section-header .registration-cta .content .btn {
  font-size: 1.5em;
}
.section-header .registration-cta .form {
  min-width: 40%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.952);
  text-align: center;
}
.section-header .registration-cta .form .inner-form {
  padding: 25px;
}
.section-header .registration-cta .form .inner-form h5 {
  margin-bottom: 20px;
}
.section-header .registration-cta .form .inner-form .btn {
  width: 100%;
  margin-top: 6px;
}
.body-section {
  padding: 50px 0;
}
.body-section h3 {
  margin-bottom: 25px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  display: flex;
  align-items: center;
}
.body-section h3 i {
  font-size: 1.5em;
  margin-right: 15px;
}
.section-about .about-event {
  display: flex;
  justify-content: space-between;
}
.section-about .about-event .event-info {
  width: 58%;
}
.section-about .about-event .event-info .cta {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.section-about .about-event .event-info .cta button {
  margin-right: 30px;
}
.section-about .about-event .event-info .cta .date-location {
  display: flex;
  align-items: center;
}
.section-about .about-event .event-info .cta .date-location i {
  margin-right: 10px ;
  font-size: 2.5em;
  color: var(--grey);
}
.section-about .about-event .event-info .cta .date-location p {
  margin: 0;
  padding: 0;
}
.section-about .about-event .event-media {
  width: 40%;
}
.section-speakers {
  background: #4600a8;
  background: -moz-linear-gradient(0deg, #4600a8 0%, #5b009b 100%);
  background: -webkit-linear-gradient(0deg, #4600a8 0%, #5b009b 100%);
  background: linear-gradient(0deg, #4600a8 0%, #5b009b 100%);
  color: #fff;
  padding: 100px 0;
}
.section-speakers h3 {
  margin-bottom: 40px;
}
.section-speakers .all-speakers {
  display: flex;
  justify-content: space-between;
}
.section-speakers .all-speakers .speaker-info {
  width: 35%;
}
.section-speakers .all-speakers .speaker-info .inner {
  padding: 30px;
  color: var(--text-color);
  background: #bababa;
  background: -moz-linear-gradient(0deg, #bababa 0%, #e8e8e8 100%);
  background: -webkit-linear-gradient(0deg, #bababa 0%, #e8e8e8 100%);
  background: linear-gradient(0deg, #bababa 0%, #e8e8e8 100%);
}
.section-speakers .all-speakers .speaker-list {
  width: 60%;
}
.section-speakers .all-speakers .speaker-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-speakers .all-speakers .speaker-list ul li {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.section-speakers .all-speakers .speaker-list ul li img {
  max-width: 100%;
}
.section-speakers .all-speakers .speaker-list ul li p {
  margin-bottom: 0;
  font-weight: bold;
}
.section-speakers .all-speakers .speaker-list ul li p:first-of-type {
  margin: 5px 0;
  line-height: 20px;
}
.section-speakers .all-speakers .speaker-list ul li p.title {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 16px;
}
.section-schedule .schedule-item .item-info {
  display: flex;
}
.section-schedule .schedule-item .item-info .image {
  margin-right: 50px;
  text-align: center;
}
.section-schedule .schedule-item .item-info .image p {
  margin: 0;
}
.section-schedule .schedule-item .item-info .image p strong {
  display: block;
  margin-bottom: -3px;
}
.section-schedule .schedule-item .item-info .image img {
  width: 130px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 100px;
}
.section-schedule .schedule-item .item-info .info .time {
  color: var(--grey);
  font-weight: bold;
  margin-bottom: 5px;
}
.section-schedule .schedule-item .item-info .info .title {
  font-size: 1.25em;
  font-weight: bold;
}
.section-jumbotron {
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
.section-jumbotron h5 {
  font-size: 2em;
}
.section-jumbotron p {
  margin-bottom: 30px;
}
.section-footer {
  background-color: var(--grey-dark);
  padding: 30px 0;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}
.section-footer .brand img {
  max-width: 150px;
}
.section-footer .social-links {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  margin: 20px auto;
}
.section-footer .social-links li i {
  font-size: 1.5em;
}
/* Buttons */
.btn {
  color: #fff;
  font-weight: 600;
  background-color: var(--primary);
  border-radius: 25px;
  border: none;
  border-bottom: 2px solid var(--primary-dark);
  text-align: center;
  cursor: pointer;
  padding: 12px 25px;
  font-size: 0.9em;
}
.btn:hover {
  background-color: var(--primary-dark);
  color: #fff;
}
.btn i {
  margin-right: 3px;
}
.btn-sec {
  background: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.952);
}
.btn-sec:hover {
  background-color: #E5E5E5;
  color: #110F24;
}
.btn-sec i {
  color: var(--primary);
}
.btn-delete {
  background-color: var(--red);
  color: #fff;
  border-bottom: 2px solid #a32828;
}
.btn-delete:hover {
  background-color: #a32828;
  color: #fff;
}
.btn-sm {
  padding: 6px 10px;
  font-size: 0.85em;
}
.btn-md {
  padding: 8px 15px;
  font-size: 0.9em;
}
.btn-lg {
  padding: 12px 30px;
  font-size: 1.15em;
  font-weight: 800;
}
.btn-full {
  margin-top: 20px;
  width: 100%;
}
/* Form Elements */
.form-group {
  margin: 0 0 20px 0;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group label {
  display: block;
  font-weight: 500;
  margin: 15px 0 5px 0;
}
.form-group label:first-child {
  margin-top: 0;
}
.form-group input[type="text"],
.form-group input[type="input"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="phone"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  background-color: #E1E1E1;
  border: 1px solid #CBCBCB;
  font-family: var(--font-family);
  border-radius: 3px;
  width: 98%;
  padding-left: 4px;
  min-height: 35px;
  font-size: 0.9em;
  font-weight: 300;
}
.form-group textarea {
  min-height: 120px;
}
.form-group textarea.long {
  min-height: 300px;
}
.form-group select {
  height: 35px;
}
.form-group .select-half select {
  width: 49%;
}
/* Icons */
.icon-agility-triangle {
  width: 55px;
  height: 55px;
  background: url('https://static.agilitycms.com/brand/agility-triangle-yellow.svg') no-repeat 0 0;
}
.back-to-up-default div:first-of-type {
  background-color: #fff;
  border-radius: 5px;
}
.back-to-up-default div:first-of-type i {
  color: var(--primary);
}
/* =================================
  Media Queries
==================================== */
/* Extra Large Break */
@media (max-width: 1199px) {
  .row {
    margin: 0 10px;
  }
}
/* Large Break */
/* Medium Break */
@media (max-width: 700px) {
  .section-header {
    background-size: cover;
    padding-bottom: 100px;
  }
  .section-header .brand-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 60px 0;
    flex-wrap: wrap;
  }
  .section-header .brand-nav .logo {
    margin: 0 0 20px 0;
  }
  .section-header .brand-nav .logo img {
    min-width: 200px;
  }
  .section-header .brand-nav .global-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .section-header .brand-nav .global-nav ul {
    width: 100%;
  }
  .section-header .brand-nav .global-nav ul li {
    margin-right: 15px;
  }
  .section-header .brand-nav .global-nav ul li:last-of-type {
    margin-right: 0;
  }
  .section-header .brand-nav .global-nav .btn {
    display: none;
  }
  .section-header .registration-cta {
    display: flex;
    justify-content: space-around;
    margin: 0 2px;
  }
  .section-header .registration-cta .content h1 {
    font-size: 3em;
  }
  .section-header .registration-cta .content h1 span {
    font-size: 1.5em;
  }
  .section-header .registration-cta .content h2 {
    font-size: 1.5em;
  }
  .section-header .registration-cta .content .details {
    font-size: 1.2em;
  }
  .section-header .registration-cta .content .btn {
    font-size: 1.25em;
  }
  .section-about .about-event {
    flex-wrap: wrap;
  }
  .section-about .about-event .event-info {
    width: 100%;
    order: 2;
  }
  .section-about .about-event .event-info .cta {
    flex-wrap: wrap;
  }
  .section-about .about-event .event-info .cta button {
    margin-right: 0;
    order: 2;
    width: 100%;
  }
  .section-about .about-event .event-info .cta .date-location {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
  .section-about .about-event .event-media {
    width: 100%;
    order: 1;
  }
  .section-speakers {
    padding: 70px 0;
  }
  .section-speakers h3 {
    margin-bottom: 40px;
  }
  .section-speakers .all-speakers {
    flex-wrap: wrap;
  }
  .section-speakers .all-speakers .speaker-info {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-speakers .all-speakers .speaker-list {
    width: 100%;
  }
}
/* Small Break */
@media (max-width: 500px) {
  .section-header .brand-nav .global-nav ul li {
    margin-right: 8px;
  }
  .section-header .brand-nav .global-nav ul li a {
    font-size: 0.9em;
  }
  .section-schedule .schedule-item .item-info {
    flex-wrap: wrap;
    text-align: center;
  }
  .section-schedule .schedule-item .item-info .image {
    width: 100%;
    margin: 15px 0 0 0;
  }
  .section-schedule .schedule-item .item-info .image p {
    font-size: 1.25em;
    margin: 10px 0 20px 0;
  }
  .section-schedule .schedule-item .item-info .image p strong {
    font-size: 1.25em;
    line-height: 1em;
  }
  .section-schedule .schedule-item .item-info .image img {
    width: 200px;
    border-radius: 200px;
  }
}
:root {
  --green: #4acf61;
  --grey: #929396;
  --grey-light: #e6e7eb;
  --grey-dark: #717171;
  --primary: #4600A8;
  --primary-light: #e6d4ff;
  --primary-dark: #370085;
  --secondary: #FFCB28;
  --secondary-light: #ffcf40;
  --success: #1dc9b7;
  --warning: #ffd7b4;
  --warning-dark: #eea565;
  --danger: #b80a01;
  --font-family: 'Muli';
  --text-color: #48465b;
  --border-color: #ebedf2;
  --border-color-dark: #dddddd;
  --light: #F3F4F7;
  --medium: #eeeff1;
  --link-color: var(--secondary);
  --link-color-hover: var(--secondary-light);
}
